$tsm-green: #1faf91;
$tsm-purple: #7049ba;

body {
  background-color: $tsm-green;
  padding-top: 15px;
  padding-bottom: 15px;
}

.card-link {
  color: $tsm-purple;
  &:hover {
    color: $tsm-purple;
  }
}

.btn.btn-tsm {
  background-color: $tsm-purple;
  color: white;
  &:hover {
    background-color: $tsm-purple;
  }
}

.jumbotron {
  background-color: $tsm-purple;
  color: white;
  border-radius: 0px;
}

$spacer: 20px;
.iframe-wrapper{
  background-image: url("/img/iphone_x_flat_mockup.png");
  background-size: contain;
  background-position: center center;
  overflow: visible;
  padding-left: $spacer;
  margin-left: -$spacer;
  padding-right: $spacer;
  margin-right: -$spacer;
  background-repeat: no-repeat;
  padding-top: 45px;
  pointer-events: none;
  iframe {
    position: relative;
    z-index: -999;
    pointer-events: all;
  }
}
